$system-fonts: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
$font: 'Poppins', sans-serif;

// Typography Weight
$f-regular: 400;
$f-bold: 700;
