extends layouts/layout-primary

block content
  section.delete-all-of-this-to-begin
    h1 name - Screen 1
    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate expedita necessitatibus, architecto saepe delectus non aspernatur dolorem eaque consequatur tempore soluta quidem asperiores culpa voluptates accusantium, eos quasi officiis suscipit!
